<template>
  <div>
    <h1>Корзина</h1>

    <div v-if="cart.length">
      <vs-table>
        <template #thead>
          <vs-tr>
            <vs-th>Обложка</vs-th>
            <vs-th>Описание</vs-th>
            <vs-th>Цена</vs-th>
          </vs-tr>
        </template>

        <template #tbody>
          <vs-tr v-for="book in cart" :key="book.id" :data="book">
            <vs-td>
              <img :src="book.thumbnail" class="thumbnail" alt="book.title" />
            </vs-td>

            <vs-td>
              <p class="description">{{ book.description }}</p>
            </vs-td>

            <vs-td>
              <span class="price">{{
                book.price.amount === 0
                  ? 'Бесплатно'
                  : `${book.price.amount} ${book.price.currencyCode}`
              }}</span>
            </vs-td>
          </vs-tr>
        </template>
      </vs-table>

      <div class="actions">
        <div class="total">
          <span>Итого: </span>
          <span class="price">{{ total }} {{ currencyCode }}</span>
        </div>

        <vs-button class="order" type="button" @click="orderBooks">
          Заказать
        </vs-button>
      </div>
    </div>

    <div v-else><span>Корзина пуста</span></div>
  </div>
</template>

<script>
import { ORDER_BOOK } from '@/store/actionTypes';

export default {
  name: 'Cart',
  computed: {
    cart() {
      return this.$store.state.cart;
    },

    total() {
      return this.cart.reduce((value, item) => value + item.price.amount, 0);
    },

    currencyCode() {
      return this.cart.length ? this.cart[0].price.currencyCode : '';
    },
  },

  methods: {
    orderBooks() {
      this.$router.push({
        name: 'Home',
        query: {
          order: 'success',
          total: this.total,
          currency: this.currencyCode,
        },
      });
      this.$store.dispatch(ORDER_BOOK);
    },
  },
};
</script>

<style scoped>
.price {
  white-space: nowrap;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total {
  margin-right: 10px;
}
</style>
