<template>
  <div>
    <h1>Главная</h1>

    <SearchForm
      :books="books"
      :cart="cart"
      v-on:fetch-books="fetchBooks"
      v-on:select-book="selectBook"
    />

    <Checkout
      :book="bookToOrder"
      :active="isOrderVisible"
      v-on:close-checkout="isOrderVisible = false"
      v-on:add-to-cart="addBookToCart"
    />
  </div>
</template>

<script>
import { ADD_BOOK_TO_CART, FETCH_BOOKS } from '@/store/actionTypes';
import Checkout from '@/components/Checkout';
import SearchForm from '@/components/SearchForm';

export default {
  name: 'Home',
  components: { Checkout, SearchForm },

  data() {
    return {
      bookToOrder: {},
      isOrderVisible: false,
    };
  },

  beforeMount() {
    if (this.isOrderSuccessful) {
      this.$vs.notification({
        title: `Ваш заказ на сумму ${this.$route.query.total} ${this.$route.query.currency} успешно оформлен`,
        color: 'success',
        duration: 15000,
        progress: 'auto',
      });

      this.$router.replace({ query: {} });
    }
  },

  methods: {
    fetchBooks(searchTerm) {
      this.$store.dispatch(FETCH_BOOKS, searchTerm);
    },

    selectBook(book) {
      this.bookToOrder = book;
      this.isOrderVisible = true;
    },

    addBookToCart(book) {
      this.$store.dispatch(ADD_BOOK_TO_CART, book);
      this.isOrderVisible = false;
    },
  },

  computed: {
    books() {
      return this.$store.state.books;
    },

    cart() {
      return this.$store.state.cart;
    },

    isOrderSuccessful() {
      return this.$route.query.order === 'success';
    },
  },
};
</script>
