<template>
  <vs-tr :data="book">
    <vs-td>
      <img :src="book.thumbnail" class="thumbnail" alt="book.title" />
    </vs-td>

    <vs-td>
      <h2 class="title">{{ book.title }}</h2>
    </vs-td>

    <vs-td>
      <ul class="authors">
        <li v-for="author in book.authors" :key="author" class="author">
          {{ author }}
        </li>
      </ul>
    </vs-td>

    <vs-td>
      <span class="date">{{ book.publishedDate }}</span>
    </vs-td>

    <vs-td>
      <vs-button class="order" type="button" @click="orderBook">
        Заказать
      </vs-button>
    </vs-td>
  </vs-tr>
</template>

<script>
export default {
  name: 'Book',
  props: ['book'],
  methods: {
    orderBook() {
      this.$emit('select-book', this.book);
    },
  },
};
</script>

<style scoped>
.authors {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
</style>
