<template>
  <vs-dialog v-model="isActive" v-on:close="handleClose">
    <template #header>
      <h4>{{ book.title }}</h4>
    </template>

    <form @submit.prevent="submitForm" novalidate>
      <div class="book">
        <vs-row>
          <vs-col w="3">
            <img :src="book.thumbnail" class="thumbnail" alt="book.title" />
          </vs-col>

          <vs-col w="9">
            <p class="description">{{ book.description }}</p>
          </vs-col>
        </vs-row>
      </div>

      <div class="form">
        <div class="input">
          <vs-input
            v-model="name"
            placeholder="Имя"
            id="name"
            name="name"
            type="text"
          />

          <div v-if="v$.name.$error" class="error">
            <template v-if="v$.name.minLength.$invalid">
              Длина имени не должна быть меньше
              {{ v$.name.minLength.$params.min }} символов
            </template>
            <template v-else>
              Имя обязательно для заполнения
            </template>
          </div>
        </div>

        <div class="input">
          <vs-input
            v-model="email"
            placeholder="Email"
            id="email"
            name="email"
            type="email"
          />

          <div v-if="v$.email.$error" class="error">
            <template v-if="v$.email.email.$invalid">
              Должно соответствовать формату email
            </template>
            <template v-else>
              Email обязателен для заполнения
            </template>
          </div>
        </div>

        <div class="input">
          <vs-input
            v-model="phone"
            placeholder="Телефон"
            id="phone"
            name="phone"
            type="tel"
          />

          <div v-if="v$.phone.$error" class="error">
            <template v-if="v$.phone.alpha.$invalid">
              Должно соответствовать формату телефонов в Украине
            </template>
            <template v-else>
              Телефон обязателен для заполнения
            </template>
          </div>
        </div>

        <vs-button :disabled="isSumbitDisabled">
          Отправить
        </vs-button>
      </div>
    </form>
  </vs-dialog>
</template>

<script>
import useVuelidate from '@vuelidate/core';
import { required, email, minLength, helpers } from '@vuelidate/validators';

export default {
  name: 'Checkout',
  props: ['book', 'active'],
  setup() {
    return { v$: useVuelidate() };
  },

  data() {
    return {
      name: '',
      email: '',
      phone: '',
    };
  },

  methods: {
    async submitForm() {
      const isFormCorrect = await this.v$.$validate();

      if (!isFormCorrect) return;

      this.$emit('add-to-cart', this.book);
    },

    handleClose() {
      this.$emit('close-checkout');
    },
  },

  computed: {
    isSumbitDisabled() {
      return (
        !this.name.length ||
        !this.email.length ||
        !this.phone.length ||
        (this.v$.$dirty && this.v$.$invalid)
      );
    },

    isActive() {
      return this.active;
    },
  },

  validations() {
    return {
      name: {
        required,
        minLength: minLength(2),
      },

      email: {
        required,
        email,
      },

      phone: {
        required,
        alpha: helpers.regex(/^\+380\d{9}$/),
      },
    };
  },
};
</script>

<style scoped>
.form {
  width: 100%;
}

.input {
  margin: 10px 0;
  width: 100%;
}

.error {
  margin-top: 4px;
  margin-left: 4px;
  font-size: 12px;
  color: tomato;
}
</style>
