<template>
  <div>
    <vs-row align="center">
      <vs-col w="6">
        <form class="form" @submit.prevent="fetchBooks">
          <vs-input
            v-model.trim="searchTerm"
            type="search"
            placeholder="Введите поисковый запрос"
          />
          <vs-button>Отправить</vs-button>
        </form>
      </vs-col>

      <vs-col w="6">
        <router-link to="/cart"><CartBadge :cart="cart"/></router-link>
      </vs-col>
    </vs-row>

    <vs-table v-if="books.length">
      <template #thead>
        <vs-tr>
          <vs-th>Обложка</vs-th>
          <vs-th>Название</vs-th>
          <vs-th>Авторы</vs-th>
          <vs-th>Год выпуска</vs-th>
          <vs-th>Авторы</vs-th>
        </vs-tr>
      </template>

      <template #tbody>
        <Book
          v-for="book in books"
          :key="book.id"
          :book="book"
          v-on:select-book="selectBook"
        />
      </template>
    </vs-table>
  </div>
</template>

<script>
import Book from './Book';
import CartBadge from './CartBadge';

export default {
  name: 'SearchForm',
  props: ['books', 'cart'],
  components: { Book, CartBadge },
  data() {
    return {
      searchTerm: '',
    };
  },

  methods: {
    fetchBooks() {
      this.$emit('fetch-books', this.searchTerm);
    },

    selectBook(book) {
      this.$emit('select-book', book);
    },
  },
};
</script>

<style scoped>
.form {
  display: flex;
}
</style>
